<h4><%= item_type.capitalize %></h4>

<% if items.empty? %>
  <% if logged_in? && current_user.role == 'baker'%>
          <p>No items of this category to bake</p>
        <% end %>
        <% if logged_in? && current_user.role == 'shipper'%>
        <p>No items of this category to ship</p>
        <% end %>
<% else %>


  <table class="table table-striped">
    <thead>
        <% if logged_in? && current_user.role == 'baker'%>
          <th>Name</th>
          <th>Quantity to Bake</th>
        <% end %>
        <% if logged_in? && current_user.role == 'shipper'%>
          <th>Order Items to Ship</th>
          <th>Address</th>
          <th class="align_center">Options</th>
        <% end %>
    </thead>
    <% for item in items %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <% if logged_in? && current_user.role == 'baker'%>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.to_bake %> <%= item_type == 'breads' ? 'loaf' : item_type %></td>
        <% end %>
        <% if logged_in? && current_user.role == 'shipper' && item.shipped_on.blank?%>
          <th><%= link_to item.item.name, item_path(item.item) %></th>
          <th><%= link_to item.order.address.formatted, address_path(item.order.address) %></th>
          <%= link_to(order_item_path(item), method: :edit) do %>
            <i class="material-icons">check</i>
        <% end %>
        <% end %>

      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>

